$main-blue: #337ab7;
$primary-font: 'Open Sans', sans-serif;  
$secondary-font: 'Dosis', sans-serif;

.navbar-default {
  font-family: $secondary-font;
}

html, body {
  font-family: $primary-font;
}

.navbar-default {
  font-family: $secondary-font;
  background-color: white;
}

.navbar-default .navbar-brand {
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  color: $main-blue;
}

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }*/
 
  /* Options 2 - Float */
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }

}